// .nav{
//     background-color: aqua;
//     height: 100px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }
// .navbar{
//     background-color: white;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 100%;
//     padding: 0%;
//     margin: 0%;
// }

// .nav-tabs .nav-link{
//     border-color: white;
// }

/* Navbar Styles src="../../../../public/images/keralalogo-removebg-preview.png"*/
nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: top 0.3s, opacity 0.3s;
}

.semi-transparent {
  opacity: 0.7;
}
// nav {
//   position: fixed;
//   top: 0;
//   z-index: 1000;
//   width: 100%;
//   transition: top 0.5s;
// }
.logo{
  width: 100px;
  height: 70px;
  background:url('../../../../public/images/keralalogo-removebg-preview.png') no-repeat center ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
    width: 100%;
    background-color: rgba(222, 217, 217, 0.5); /* Semi-transparent background */
    color: #080808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    
  }
  
  .nav-item {
    margin-left: 20px;

    
  }
  .nav-tabs {
    border: none;
  }
  .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #3d9685ce;
    border-color: #dee2e6 #dee2e6 #fff;
}
  
  .nav-link {
    text-decoration: none;
    color: #332a2a;
    background-color: rgba(0, 255, 255, 0.187);
    border-radius: 10%;

  }
  
  .navbar-lang {
    font-weight: bold;

  }
  