<!-- In your about.component.html -->
<section class="default-banner active-blog-slider">
    <div *ngFor="let slide of displaySlides; let i = index" 
         class="item-slider relative" 
         [style.background-image]="'url(' + slide.imageUrl + ')'"
         [style.background-size]="'cover'"
         [class.active]="true">
      <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
      <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
          <div class="col-md-10 col-12">
            <div class="banner-content text-center">
              <h4 class="text-white mb-20 text-uppercase">{{slide.subtitle}}</h4>
              <h1 class="text-uppercase text-white">{{slide.title}}</h1>
              <p class="text-white">{{slide.description}}</p>
              <a routerLink="/district" class="text-uppercase header-btn">Discover more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


<!-- <section class="default-banner active-blog-slider">
    <div *ngFor="let slide of slides; let i = index" 
         class="item-slider relative" 
         [style.background-image]="'url(' + slide.imageUrl + ')'"
         [style.background-size]="'cover'"
         [class.active]="currentSlide === i">
      <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
      <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
          <div class="col-md-10 col-12">
            <div class="banner-content text-center">
              <h4 class="text-white mb-20 text-uppercase">{{slide.subtitle}}</h4>
              <h1 class="text-uppercase text-white">{{slide.title}}</h1>
              <p class="text-white">{{slide.description}}</p>
              <a routerLink="/district" class="text-uppercase header-btn">Discover more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->
