/* Home Page Styles */


      .home-content {
        width: 100%;
        height: 100vh;
        background: url('https://img.freepik.com/free-photo/gazebo-surrounded-by-palm-trees-water-sunset_181624-57249.jpg?t=st=1719206268~exp=1719209868~hmac=e783142bc0429ba9762cbb9a88900a29e71b336e5e83f0289aa7bce42a3f6bc7&w=1060') no-repeat center center; /* Placeholder for a travel-themed background image */
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        padding: 7rem;
        align-items: center;
        text-align: center;
        h1{
          color: aliceblue;

        }
      }
      
      
      .destination-highlight {
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent content box */
        padding: 20px;
        border-radius: 10px;
      }
      
      h1 {
        margin-bottom: 10px;
      }
      
      p {
        font-size: 1.2em;
      }
      .default-banner {
        position: relative;
        height: 100vh;
        overflow: hidden;
      }
      
      .item-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .item-slider.active {
        opacity: 1;
      }
      
      .fullscreen {
        min-height: 100vh;
      }
      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
      }
    
      .card {
        width: calc(30% - 10px);
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
      }
      
      .card img {
        width: 100%;
        height: auto;
      }
      
      .card-content {
        padding: 15px;
      }